
@use '../../styles/mixins' as *;

.teams-section {
  width: 95%;

  @include respond-to-max("medium") {
    padding-top: 2rem;
  }
}

.team-title, .home-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 90%;

  @include respond-to-max-min("3xl") {
    font-size: 2.5rem;
  }

  @include respond-to-max-min("4xl") {
    font-size: 3rem;
  }
}

.card-grid {
  gap: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  width: 90%;

  .team-card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
    max-width: 200px;
    min-width: 200px;
    flex: 1 1 calc(33.333% - 1rem);

    @include respond-to-max-min("large") {
      flex: 1 1 calc(25% - 1rem);
    }

    @include respond-to-max-min("3xl") {
      flex: 1 1 calc(25% - 1rem);
    }
    @include respond-to-max-min("4xl") {
      flex: 1 1 calc(20% - 1rem);
    }

    &:hover {
      transform: scale(1.03);
    }

    &.selected {
      background-color: #e0f0ff;
      border-color: #007bff;
    }

    h3 {
      font-size: 1.2rem;

      @include respond-to-max-min("3xl") {
        font-size: 1.5rem;
      }

      @include respond-to-max-min("4xl") {
        font-size: 1.8rem;
      }
    }

    p {
      font-size: 0.95rem;

      @include respond-to-max-min("3xl") {
        font-size: 1.1rem;
      }

      @include respond-to-max-min("4xl") {
        font-size: 1.25rem;
      }
    }
  }
}

.team-container {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  width: 90%;

  @include respond-to-max("medium") {
    flex-direction: column;
  }

  @include respond-to-max-min("3xl") {
    gap: 3rem;
  }

  @include respond-to-max-min("4xl") {
    gap: 4rem;
  }



  .team-column {
    flex: 1 0 calc(50% - 1rem);

    .team-box {
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: #fff;

      h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-align: center;

        @include respond-to-max-min("3xl") {
          font-size: 2rem;
        }
      }
    }
  }
}

.team-squad-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0 1rem;

  .team-squad-item {
    margin-bottom: 0.5rem;

    .player-link {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.chart-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  @include respond-to-max-min("large") {
    max-width: 100%;
  }

  .highcharts-container {
    width: 100% !important;
  }
}

